# Ignore node_modules (dependências)
node_modules/

# Ignore arquivos temporários de build
dist/
tmp/

# Ignore configurações do VS Code
.vscode/

# Ignore configurações do IntelliJ/WebStorm
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Ambiente
.env

.angular/
