<h2>Lista de Contatos</h2>

<p-table [value]="listaContatos" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template  pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-contato>
    <tr>
      <td>{{ contato.id }}</td>
      <td>{{ contato.name }}</td>
      <td>{{ contato.email }}</td>
      <td>{{ contato.phone }}</td>
      <td>
        <p-button label="Deletar" (click)="deletar(contato.id)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<a routerLink="/formulario">Cadastrar Contato</a> |
<a routerLink="/lista">Listar Contatos</a> |
<a routerLink="/grupo">Novo Grupo</a>
