<p-menubar [model]="items" />

<h2>Cadastro de Contatos</h2>

<p-floatlabel>
  <input id="nome" pInputText [(ngModel)]="name" />
  <label for="nome">Nome do Contato</label>
</p-floatlabel>
<br>

<p-floatlabel>
  <input id="email" pInputText [(ngModel)]="email" />
  <label for="email">Email do Contato</label>
</p-floatlabel>
<br>

<p-floatlabel>
  <input id="telefone" pInputText [(ngModel)]="phone" />
  <label for="telefone">Telefone do Contato</label>
</p-floatlabel>
<br>

<!-- Botão Salvar -->
<p-button label="salvar"(click)="salvar()" />
<br><br>
